<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mredrock.freshmanspecial">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".httptools.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Special_2017_app_name"
        android:supportsRtl="true"
        android:theme="@style/Special_2017_AppTheme">
        <activity android:name=".Ui.Special_2017_HomePagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="http"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Ui.Special_2017_DataActivity">
            <intent-filter>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
          
        </intent-filter>
        </activity>

        <activity android:name=".Ui.Special_2017_StrategyActivity"/>
        <activity android:name=".Ui.Special_2017_BeautyActivity">
        </activity>
        <activity
            android:name=".Ui.Special_2017_ImageClickActivity"
            android:theme="@style/dialogstyle">
        </activity>
        <activity
            android:name=".Ui.Special_2017_BeautyImageClickActivity"
            >
        </activity>
        <activity android:name=".Ui.Special_2017_MilitaryTrainingActivity">
        </activity>
    </application>

</manifest>